body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  text-align: center;
}

.card {
  margin-top: 100px;
  padding: 12px;
  border-radius: 18px
}

.image {
  border-radius: 10px
}

.card-title {
  font-weight: 700;
}

.card-text {
  font-size: 80%;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  padding-top: 10px;
  text-align: center;
}

.attribution {

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;


}
